th, td {
    font-size: 1.5rem;
}

.tableBox {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.titleTable {
    width: 50%;
}